<% provide :title, t(".title") %>
<section class="employ-sec">
  <div class="container">
    <div class="title-sec-w3layouts_pvt text-center pb-4">
      <span class="title-wthree">Quick Recruitment Jobs</span>
    </div>
    <div class="row pt-lg-5">
      <div class="col-lg-4">
        <div class="left_widget">
          <h3 class="left-widget-job">Hot Jobs</h3>
        </div>
        <div class="left_widget">
          <h3 class="left-widget-job">New Jobs</h3>
        </div>
        <div class="left_widget">
          <h3 class="left-widget-job">Careers</h3>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <%= render @jobs %>
        </div>
        <%= paginate @jobs, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</section>
