<div class="container">
  <div class="title-sec-w3layouts_pvt text-center pt-4">
      <span class="title-wthree"><%= t ".find_result" %></span>
  </div>
  <div class="row">
    <% if @jobs.present? %>
      <%= render @jobs %>
    <% else %>
      <p><%= t ".not_found" %></p>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @jobs, theme: "twitter-bootstrap-3" %>
  </div>
</div>
