<% provide :title, @career.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="career_info">
      <h1 class="fa fa-star">
        <%= t ".description" %>
        <%= @career.description%>
      </h1>
    </section>
  </aside>
</div>
