@import 'color';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

.signup {
  margin-left: 100px
}

.user_info {
  p {
    padding-left: 50px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray-ligth-mid;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* footer*/
.footer {
  margin-top: 40px;
}

/* header */
.header {
  margin-bottom: 40px;
}
